@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  0% { transform: translateX(-100%); }
  90% { transform: translateX(0%); }
  100% { transform: translateX(0%); }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}
/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #EAB308;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F59E0B;
}
